 .App .container {
   background-color: #FED4D5;
   text-align: center;
   display: block;
   font-family: 'Indie Flower', cursive;
   
 }
 .App h1{
   padding-bottom: 50px;
 }
 .App img{
  width: 400px;
 }
 .App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}